.photoBlock{
    position: relative;
    background: #5a7cbd;
    padding: 10px;
    border-radius: 8px;
}

.photoUser{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.uploadProfilePhotoBlock{
    width: 250px;
    height: 250px;
    background: #33333371;
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 18px;
    font-weight: 600;
    line-height: initial;
}

.invisibleInput{
    display: none;
}

.uploadPic{
    width: 100px;
    height: 100px;
    opacity: 0.7;
}

@media(max-width: 1200px) {

}
@media(max-width: 992px) {

}
@media(max-width: 767px) {

    .photoBlock{
        width: 30%;
    }
    .photoUser{
        width: 100%;
        height: 100%;
    }

    .uploadProfilePhotoBlock{
        width: 100%;
        height: 100%;
        left: 0px;
         top: 0px;
    }
    .uploadPic{
        width: 40px;
        height: 40px;
    }

    .uploadText{
        font-size: 14px;
    }
}