.allUsersPage{
    width: 100%;
    
}

.paginationString{
    margin-bottom: 16px;
}

.userInSearch{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
}

.follow{
    display: block;
    padding: 6px 10px;
    background: #5A7CBD;
    color: #FFFFFF;
    border-radius: 4px;
}

.unfollow{
    display: block;
    padding: 6px 10px;
    background: #5A7CBD;
    color: #FFFFFF;
    border-radius: 4px;
}

.disabled{
    display: block;
    padding: 6px 10px;
    background: rgb(121, 121, 121);
    color: #FFFFFF;
}

.unfollow:hover{
    background: red;
}

.avatar{
    width: 150px;
    border-radius: 50%;
    padding-bottom: 10px;
}

.aboutUser{
    border: 1px solid #5A7CBD;
    width: 100%;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
}

.name{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 19px;
    border-bottom: 1px solid #5A7CBD;
    padding: 4px;
}

.city{
    text-align: right;
    margin-top: 15px;
}

.status{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.labelStatus{
    border-bottom: 1px solid #5A7CBD;
}

.selectedPage{
    font-weight: 700;
    margin-right: 4px;
}
.unselectedPage{
    margin-right: 4px;
}
.preloaderContainer{
    position: relative;
}
.preloader{
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-left: 100px;
    position: absolute;
    top: 0;
    left: 50px;
}

@media(max-width: 430px) {

    .aboutUser{
        margin-left: 0;
    }
    .userInSearch{
        flex-direction: column;
        border: 1px solid #5A7CBD;
        border-radius: 6px;
    }
    .follow{
        width: 100%;
        padding: 10px;
        margin-bottom: 6px;
    }
    .unfollow{
        width: 100%;
        padding: 10px;
        margin-bottom: 6px;
    }
    .userLink{
        text-align: center;
display: block;
margin-top: 8px;
    }
    .aboutUser{
        border: 0
    }
  }