.message{
    display: flex;
    margin-bottom: 40px;
}


.user_send{
    margin-right: 30px;
}
.user_send_pic_img{
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    
}
.user_send_name{
    text-align: center;
}


.user_message{
    border: 1px solid #bebebe;
    color: black;
    border-radius: 5px;
    padding: 12px 16px 12px 12px;
    width: 100%;
    position: relative;
}

.newMessageBox{
    border: 1px solid #bebebe;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
    resize: none;
}

.newMessageBoxError{
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
    resize: none;
}

.sendMessage{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    color: #000000;
}

.sendMessage:hover{
    background: green;
    color: #FFFFFF;
}


.spanError{
    color: red;
    font-weight: 600;
}

.closeImg{
    
    width: 12px;
    cursor: pointer;
}

.prompt{
    display: inline-block;
    width: 100px;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.623);
    color: #F1F2F8;
    border-radius: 4px;
    position: absolute;
    top: -40px;
    left: -80px;
}

.prompt::before{
    content: "";

    position: absolute;
    left: 80px;
    top: 26px;
    display: block;
    border: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.623);
}


.deleteBlock{
    position: absolute;
    top: 6px;
    right: 6px;
}