  .image{
    width: 80px;
    height: 80px;
    margin-left: 40px;
  }
  
  .wrapper{
    background:#5a7cbd;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 0;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .imagesWrapper{
    display: flex;
    align-items: flex-start;
    position: relative;
  }
.hamburgerMenuBlock{
  padding: 5px 10px;
  border: 2px solid #F1F2F8;
  border-radius: 8px;
  display: none;
}
.hamburgerMenuImg{
  width: 40px;
  height: 40px;
  color: red;
  margin-top: 10px;
  margin-bottom: 3px;
}
  .loginButton{
    padding: 6px 12px;
    background: #F1F2F8;
    color: #5a7cbd;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    margin-top: 30%;
    display: flex;
  }

  .logout{
    display: inline-block;
    padding: 6px 24px;
    background: #F1F2F8;
    color: #5a7cbd;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
  }

  .loginBlock{
    display: flex;
    height: 100%;
  }

  .welcomeText{
    font-size: 16px;
    font-weight: 600;
  }

  .loginImage{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .logoutImage{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .loginText{
    margin-top: 4px;
  }

  .loginTextBlock{
    margin-top: 1px;
  }

  .logoutTextBlock{
    margin-top: 1px;
  }

  .loginPageNow{
    background: #F1F2F8;
    color: #5a7cbd;
    border-radius: 5px 5px 0 0;
  }
.mobileNavbar{
  padding: 10px;
  /* width: 110px; */
  position: absolute;
  background: #5a7cbd;
  z-index: 1;
  top: 70px;
  left: -10px;
  border-radius: 4px;
}

  @media(max-width: 1200px) {
    .wrapper{
      max-width: 970px;
    }
  }
  @media(max-width: 992px) {
    .wrapper{
      max-width: 970px;
    }
  }
  @media(max-width: 767px) {
    .wrapper{
      max-width: none;
    }

   .hamburgerMenuBlock{
     display: inline-block;
   }
  }