  .image{
    width: 80px;
    margin-left: 40px;
  }
  
  .wrapper{
    background:#5a7cbd;
    margin-top: 10px;
    padding: 10px;
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .loginButton{
    padding: 6px 12px;
    background: #F1F2F8;
    color: #5a7cbd;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    margin: auto 0;
    display: flex;
  }

  .logout{
    display: inline-block;
    padding: 6px 24px;
    background: #F1F2F8;
    color: #5a7cbd;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
  }

  .loginBlock{
    display: flex;
    height: 100%;
  }

  .welcomeText{
    font-size: 16px;
    font-weight: 600;
  }

  .loginImage{
    width: 20px;
    margin-right: 10px;
  }

  .logoutImage{
    width: 20px;
    margin-right: 10px;
  }

  .loginText{
    margin-top: 4px;
  }

  .loginTextBlock{
    margin-top: 1px;
  }

  .logoutTextBlock{
    margin-top: 1px;
  }