/* @import './../../utils/fonts.css'; */


.nav{
    background:#5a7cbd;
    padding: 10px 0 10px 10px;
    width: 26%;
  }
  
  .ul{
    /* text-decoration: none; */
    list-style-type: none;
    padding: 0;
  }
  
  .item{
    margin-bottom: 5px;
  }
  
  .link{
    text-decoration: none;
    color: white;
    font-size: 19px;
    display: block;
    padding: 12px 16px;
    border-radius: 5px 0 0 5px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
  }


  .link:hover{
    background: blue;
    color: white;
  }

  .activelink{
    background: #F1F2F8;
    color: #5a7cbd;
  }