
.nav{
    background: green;
    padding: 10px;
    margin-right: 10px;
  }
  
  .ul{
    /* text-decoration: none; */
    list-style-type: none;
    padding: 0;
  }
  
  .item{
    margin-bottom: 5px;
  }
  
  .link{
    text-decoration: none;
    color: white;
    font-size: 19px;
    display: block;
    padding: 3px;
  }

  .link:hover{
    background: blue;
  }

  .activelink{
    background: gold;
  }