.wrapper{
    display: flex;
    justify-content:  space-between;
    padding-top: 20px;
}

.info{

}

.fon{
    width: 100%;
}

.name{
    font-weight: 600;
    font-size: 18px;
}

.about{
    

}


.status_input{
    border: 1px solid black;
}


.photoUser{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.photoBlock{
    position: relative;
    background: #5a7cbd;
    padding: 10px;
    border-radius: 8px;
}

.uploadProfilePhotoBlock{
    width: 250px;
    height: 250px;
    background: #33333371;
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 18px;
    font-weight: 600;
    line-height: initial;
}

.uploadPic{
    width: 100px;
    height: 100px;
    opacity: 0.7;
}

.invisibleInput{
    display: none;
}

.description{
    color: #F1F2F8;
    margin-bottom: 6px;
}

.nameBlock{
    background: white;
    padding: 4px;
    margin-bottom: 12px;
}

.infoBlock{
    background: #5a7cbd;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.infoTittle{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 6px;
}

.socialNetworkLogo{
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.socialNetworkLogoPic{
    width: 60px;
    height: 60px;
}

.socialNetworksWrapper{
    display: flex;
}