.wrapper{
    display: flex;
    justify-content:  space-between;
    padding-top: 20px;
}

.info{

}

.fon{
    width: 100%;
}

.name{
    font-weight: 600;
}

.about{
    

}


.status_input{
    border: 1px solid black;
}


.photoUser{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.photoBlock{
    position: relative;
}

.uploadProfilePhotoBlock{
    width: 250px;
    height: 250px;
    background: #33333371;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 18px;
    font-weight: 600;
    line-height: initial;
}

.uploadPic{
    width: 100px;
    height: 100px;
    opacity: 0.7;
}